server:
  port: 8080

spring:
  application:
    name: gateway-service

management:
  endpoints:
    web:
      exposure:
        include: health,info,prometheus
  endpoint:
    health:
      probes:
        enabled: true

acmecorp:
  services:
    orders:
      base-url: ${ORDERS_BASE_URL:http://orders-service:8081}
    catalog:
      base-url: ${CATALOG_BASE_URL:http://catalog-service:8085}
    billing:
      base-url: ${BILLING_BASE_URL:http://billing-service:8082}
    notification:
      base-url: ${NOTIFICATION_BASE_URL:http://notification-service:8083}
    analytics:
      base-url: ${ANALYTICS_BASE_URL:http://analytics-service:8084}
