server:
  port: 8080

spring:
  application:
    name: gateway-service

management:
  endpoints:
    web:
      exposure:
        include: health,info,prometheus
  endpoint:
    health:
      probes:
        enabled: true

acmecorp:
  services:
    orders:
      base-url: http://orders-service:8081
    catalog:
      base-url: http://catalog-service:8085
    billing:
      base-url: http://billing-service:8082
