apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: analytics-service
  namespace: monitoring
  labels:
    release: monitoring
spec:
  namespaceSelector:
    matchNames:
      - acmecorp
  selector:
    matchLabels:
      app: analytics-service
  endpoints:
    - port: http
      path: /actuator/prometheus
      interval: 15s
