server:
  port: 8082

spring:
  application:
    name: billing-service
  datasource:
    url: jdbc:postgresql://postgres:5432/acmecorp
    username: acmecorp
    password: acmecorp
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true

management:
  endpoints:
    web:
      exposure:
        include: health,info,prometheus
  endpoint:
    health:
      probes:
        enabled: true

acmecorp:
  services:
    analytics: http://analytics-service:8084
