server:
  port: 8084

spring:
  application:
    name: analytics-service
  datasource:
    url: jdbc:postgresql://postgres:5432/acmecorp
    username: acmecorp
    password: acmecorp
  jpa:
    hibernate:
      ddl-auto: update
  data:
    redis:
      host: redis
      port: 6379

management:
  endpoints:
    web:
      exposure:
        include: health,info,prometheus
  endpoint:
    health:
      probes:
        enabled: true
