{{- if .Values.billingService.enabled }}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: billing-service
  namespace: {{ .Values.global.namespace }}
  labels:
    app: billing-service
spec:
  replicas: 1
  selector:
    matchLabels:
      app: billing-service
  template:
    metadata:
      labels:
        app: billing-service
    spec:
      containers:
        - name: billing-service
          image: "{{ .Values.billingService.image.repository }}:{{ .Values.billingService.image.tag }}"
          ports:
            - containerPort: {{ .Values.billingService.port }}
              name: http
          readinessProbe:
            httpGet:
              path: /actuator/health/readiness
              port: http
            initialDelaySeconds: 10
            periodSeconds: 10
          livenessProbe:
            httpGet:
              path: /actuator/health/readiness
              port: http
            initialDelaySeconds: 30
            periodSeconds: 20
{{- end }}
