{{- if .Values.catalogService.enabled }}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: catalog-service
  namespace: {{ .Values.global.namespace }}
  labels:
    app: catalog-service
spec:
  replicas: 1
  selector:
    matchLabels:
      app: catalog-service
  template:
    metadata:
      labels:
        app: catalog-service
    spec:
      containers:
        - name: catalog-service
          image: "{{ .Values.catalogService.image.repository }}:{{ .Values.catalogService.image.tag }}"
          ports:
            - containerPort: {{ .Values.catalogService.port }}
              name: http
          env:
            - name: DB_HOST
              value: postgres
            - name: DB_PORT
              value: "5432"
            - name: DB_NAME
              valueFrom:
                configMapKeyRef:
                  name: {{ .Values.postgres.configName }}
                  key: POSTGRES_DB
            - name: DB_USERNAME
              valueFrom:
                configMapKeyRef:
                  name: {{ .Values.postgres.configName }}
                  key: POSTGRES_USER
            - name: DB_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: {{ .Values.postgres.secretName }}
                  key: POSTGRES_PASSWORD
          resources:
{{ toYaml .Values.catalogService.resources | indent 12 }}
          readinessProbe:
            httpGet:
              path: /q/health/ready
              port: http
            initialDelaySeconds: 10
            periodSeconds: 10
          livenessProbe:
            httpGet:
              path: /q/health/ready
              port: http
            initialDelaySeconds: 30
            periodSeconds: 20
{{- end }}
