{{- if .Values.gatewayService.enabled }}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: gateway-service
  namespace: {{ .Values.global.namespace }}
  labels:
    app: gateway-service
spec:
  replicas: 1
  selector:
    matchLabels:
      app: gateway-service
  template:
    metadata:
      labels:
        app: gateway-service
    spec:
      containers:
        - name: gateway-service
          image: "{{ .Values.gatewayService.image.repository }}:{{ .Values.gatewayService.image.tag }}"
          ports:
            - containerPort: {{ .Values.gatewayService.port }}
              name: http
          env:
            - name: ORDERS_BASE_URL
              value: http://orders-service:{{ .Values.ordersService.port }}
            - name: CATALOG_BASE_URL
              value: http://catalog-service:{{ .Values.catalogService.port }}
            - name: BILLING_BASE_URL
              value: http://billing-service:{{ .Values.billingService.port }}
            - name: NOTIFICATION_BASE_URL
              value: http://notification-service:{{ .Values.notificationService.port }}
            - name: ANALYTICS_BASE_URL
              value: http://analytics-service:{{ .Values.analyticsService.port }}
          resources:
{{ toYaml .Values.gatewayService.resources | indent 12 }}
          readinessProbe:
            httpGet:
              path: /actuator/health/readiness
              port: http
            initialDelaySeconds: 10
            periodSeconds: 10
          livenessProbe:
            httpGet:
              path: /actuator/health/liveness
              port: http
            initialDelaySeconds: 30
            periodSeconds: 20
{{- end }}
