{{- if .Values.notificationService.enabled }}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: notification-service
  namespace: {{ .Values.global.namespace }}
  labels:
    app: notification-service
spec:
  replicas: 1
  selector:
    matchLabels:
      app: notification-service
  template:
    metadata:
      labels:
        app: notification-service
    spec:
      containers:
        - name: notification-service
          image: "{{ .Values.notificationService.image.repository }}:{{ .Values.notificationService.image.tag }}"
          ports:
            - containerPort: {{ .Values.notificationService.port }}
              name: http
          env:
            - name: DB_HOST
              value: postgres
            - name: DB_PORT
              value: "5432"
            - name: DB_NAME
              valueFrom:
                configMapKeyRef:
                  name: {{ .Values.postgres.configName }}
                  key: POSTGRES_DB
            - name: DB_USERNAME
              valueFrom:
                configMapKeyRef:
                  name: {{ .Values.postgres.configName }}
                  key: POSTGRES_USER
            - name: DB_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: {{ .Values.postgres.secretName }}
                  key: POSTGRES_PASSWORD
            - name: RABBITMQ_HOST
              value: rabbitmq
            - name: RABBITMQ_PORT
              value: {{ .Values.rabbitmq.amqpPort | quote }}
            - name: RABBITMQ_USERNAME
              valueFrom:
                configMapKeyRef:
                  name: {{ .Values.rabbitmq.configName }}
                  key: RABBITMQ_USERNAME
            - name: RABBITMQ_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: {{ .Values.rabbitmq.secretName }}
                  key: RABBITMQ_PASSWORD
            - name: ANALYTICS_BASE_URL
              value: http://analytics-service:{{ .Values.analyticsService.port }}
          resources:
{{ toYaml .Values.notificationService.resources | indent 12 }}
          readinessProbe:
            httpGet:
              path: /actuator/health/readiness
              port: http
            initialDelaySeconds: 10
            periodSeconds: 10
          livenessProbe:
            httpGet:
              path: /actuator/health/readiness
              port: http
            initialDelaySeconds: 30
            periodSeconds: 20
{{- end }}
