{{- if .Values.notificationService.enabled }}
apiVersion: v1
kind: Service
metadata:
  name: notification-service
  namespace: {{ .Values.global.namespace }}
  labels:
    app: notification-service
spec:
  type: ClusterIP
  selector:
    app: notification-service
  ports:
    - port: 80
      targetPort: {{ .Values.notificationService.port }}
      name: http
{{- end }}
