{{- if .Values.rabbitmq.enabled }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ .Values.rabbitmq.secretName }}
  namespace: {{ .Values.global.namespace }}
type: Opaque
stringData:
  RABBITMQ_PASSWORD: {{ .Values.rabbitmq.password | quote }}
{{- end }}
