apiVersion: apps/v1
kind: Deployment
metadata:
  name: orders-service
  namespace: acmecorp
  labels:
    app: orders-service
spec:
  replicas: 1
  selector:
    matchLabels:
      app: orders-service
  template:
    metadata:
      labels:
        app: orders-service
    spec:
      containers:
        - name: orders-service
          image: ghcr.io/acmecorp/orders-service:latest
          ports:
            - containerPort: 8081
              name: http
          env:
            - name: DB_HOST
              value: postgres
            - name: DB_PORT
              value: "5432"
            - name: DB_NAME
              valueFrom:
                secretKeyRef:
                  name: acmecorp-credentials
                  key: POSTGRES_DB
            - name: DB_USERNAME
              valueFrom:
                secretKeyRef:
                  name: acmecorp-credentials
                  key: POSTGRES_USER
            - name: DB_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: acmecorp-credentials
                  key: POSTGRES_PASSWORD
            - name: RABBITMQ_HOST
              value: rabbitmq
            - name: RABBITMQ_PORT
              value: "5672"
            - name: RABBITMQ_USERNAME
              valueFrom:
                secretKeyRef:
                  name: acmecorp-credentials
                  key: RABBITMQ_USERNAME
            - name: RABBITMQ_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: acmecorp-credentials
                  key: RABBITMQ_PASSWORD
            - name: CATALOG_BASE_URL
              value: http://catalog-service:8085
            - name: BILLING_BASE_URL
              value: http://billing-service:8082
            - name: ANALYTICS_BASE_URL
              value: http://analytics-service:8084
            - name: NOTIFICATION_BASE_URL
              value: http://notification-service:8083
          resources:
            requests:
              cpu: 150m
              memory: 256Mi
            limits:
              cpu: 400m
              memory: 512Mi
          readinessProbe:
            httpGet:
              path: /actuator/health/readiness
              port: http
            initialDelaySeconds: 10
            periodSeconds: 10
          livenessProbe:
            httpGet:
              path: /actuator/health/liveness
              port: http
            initialDelaySeconds: 30
            periodSeconds: 20
