server:
  port: 8082

spring:
  application:
    name: billing-service
  datasource:
    url: jdbc:postgresql://${DB_HOST:postgres}:${DB_PORT:5432}/${DB_NAME:acmecorp}
    username: ${DB_USERNAME:acmecorp}
    password: ${DB_PASSWORD:acmecorp}
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
  data:
    web:
      pageable:
        serialization-mode: via_dto

management:
  endpoints:
    web:
      exposure:
        include: health,info,prometheus
  endpoint:
    health:
      probes:
        enabled: true

acmecorp:
  services:
    analytics: http://analytics-service:8084
