server:
  port: 8081

spring:
  application:
    name: orders-service
  rabbitmq:
    host: rabbitmq
    port: 5672
    username: guest
    password: guest
  datasource:
    url: jdbc:postgresql://postgres:5432/acmecorp
    username: acmecorp
    password: acmecorp
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true

management:
  endpoints:
    web:
      exposure:
        include: health,info,prometheus
  endpoint:
    health:
      probes:
        enabled: true

acmecorp:
  services:
    catalog: http://catalog-service:8085
    billing: http://billing-service:8082
    analytics: http://analytics-service:8084
    notification: http://notification-service:8083
